<div class="col-xl-4 col-md-6 col-sm8 col-10" style="margin: auto; background-color: #f8f8f8; border-radius: 6px; padding: 15px; " >
<%= form_with(model: ranking) do |form| %>
  <% if ranking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>

      <ul>
        <% ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div>
    <%= form.label :pppasstd, style: "display: block" %>
    <%= form.number_field :pppasstd, class: "form-control" %>
  </div>

  <div>
    <%= form.label :pppassyard, style: "display: block" %>
    <%= form.number_field :pppassyard, class: "form-control" %>
  </div>

  <div>
    <%= form.label :ppr, style: "display: block" %>
    <%= form.number_field :ppr, class: "form-control" %>
  </div>

  <div>
    <%= form.label :pprushtd, style: "display: block" %>
    <%= form.number_field :pprushtd, class: "form-control" %>
  </div>

  <div>
    <%= form.label :pprushyard, style: "display: block" %>
    <%= form.number_field :pprushyard, class: "form-control" %>
  </div>

  <div>
    <%= form.label :pprecyard, style: "display: block" %>
    <%= form.number_field :pprecyard, class: "form-control" %>
  </div>

  <div>
    <%= form.label :pprectd, style: "display: block" %>
    <%= form.number_field :pprectd, class: "form-control" %>
  </div>

  <div>
    <%= form.label :PPfumble, style: "display: block" %>
    <%= form.number_field :PPfumble, class: "form-control" %>
  </div>

  <div>
    <%= form.label :ppint, style: "display: block" %>
    <%= form.number_field :ppint, class: "form-control" %>
  </div>

  <div>
    <%= form.label :ppfgm, style: "display: block" %>
    <%= form.number_field :ppfgm, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary col-12" %>
  </div>
<% end %>
</div