<%= form_with(model: ranking, local: true) do |form| %>
  <% if ranking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>
      <ul>
        <% ranking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year, "Year", style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :pppassyd, "Points per Passing Yard", style: "display: block" %>
    <%= form.number_field :pppassyd, step: 0.01 %>
  </div>

  <div>
    <%= form.label :pppasstd, "Points per Passing TD", style: "display: block" %>
    <%= form.number_field :pppasstd, step: 0.01 %>
  </div>

  <div>
    <%= form.label :ppr, "Points per Reception", style: "display: block" %>
    <%= form.number_field :ppr, step: 0.01 %>
  </div>

  <div>
    <%= form.label :pprecyd, "Points per Receiving Yard", style: "display: block" %>
    <%= form.number_field :pprecyd, step: 0.01 %>
  </div>

  <div>
    <%= form.label :pprectd, "Points per Receiving TD", style: "display: block" %>
    <%= form.number_field :pprectd, step: 0.01 %>
  </div>

  <div>
    <%= form.label :pprushyd, "Points per Rushing Yard", style: "display: block" %>
    <%= form.number_field :pprushyd, step: 0.01 %>
  </div>

  <div>
    <%= form.label :pprushtd, "Points per Rushing TD", style: "display: block" %>
    <%= form.number_field :pprushtd, step: 0.01 %>
  </div>

  <div>
    <%= form.submit "Create Ranking" %>
  </div>
<% end %>
