<div id="<%= dom_id ranking %>">
  <p>
    <strong>Year:</strong>
    <%= ranking.year %>
  </p>

  <p>
    <strong>Pppasstd:</strong>
    <%= ranking.pppasstd %>
  </p>

  <p>
    <strong>Pppassyard:</strong>
    <%= ranking.pppassyard %>
  </p>

  <p>
    <strong>Ppr:</strong>
    <%= ranking.ppr %>
  </p>

  <p>
    <strong>Pprushtd:</strong>
    <%= ranking.pprushtd %>
  </p>

  <p>
    <strong>Pprushyard:</strong>
    <%= ranking.pprushyard %>
  </p>

  <p>
    <strong>Pprecyard:</strong>
    <%= ranking.pprecyard %>
  </p>

  <p>
    <strong>Pprectd:</strong>
    <%= ranking.pprectd %>
  </p>

  <p>
    <strong>Ppfumble:</strong>
    <%= ranking.PPfumble %>
  </p>

  <p>
    <strong>Ppint:</strong>
    <%= ranking.ppint %>
  </p>

  <p>
    <strong>Ppfgm:</strong>
    <%= ranking.ppfgm %>
  </p>

</div>
