<div id="<%= dom_id ranking %>">
  <p>
    <strong>Year:</strong>
    <%= ranking.year %>
  </p>

  <p>
    <strong>Pppassyd:</strong>
    <%= ranking.pppassyd %>
  </p>

  <p>
    <strong>Pppasstd:</strong>
    <%= ranking.pppasstd %>
  </p>

  <p>
    <strong>Ppr:</strong>
    <%= ranking.ppr %>
  </p>

  <p>
    <strong>Pprecyd:</strong>
    <%= ranking.pprecyd %>
  </p>

  <p>
    <strong>Pprectd:</strong>
    <%= ranking.pprectd %>
  </p>

  <p>
    <strong>Pprushyd:</strong>
    <%= ranking.pprushyd %>
  </p>

  <p>
    <strong>Pprushtd:</strong>
    <%= ranking.pprushtd %>
  </p>

</div>
